@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.mainMargin{
    margin: 0px 25px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   
}
nav h3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    color: rgb(14, 14, 14);
    
}
#btn-nav{
    padding: 15px 30px;
    font-family: "Fira Sans", serif;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    background-color: transparent;	
}
#btn-nav:hover{
    background-color: rgb(0, 106, 80);
    color: #FFFFFF;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 80px 100px 80px 100px;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
}
.btn-banner{
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}
.btn-banner:hover{
    background-color: #FFFFFF;
    color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
}

.banner div h2{
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner div p{
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
}
